{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "tsconfigRootDir": ".",
        "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
        "sourceType": "module", // Allows for the use of imports
        "createDefaultProgram": true //https://github.com/typescript-eslint/typescript-eslint/issues/864
    },
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "react"
    ],
    "rules": {
      /**
      * @description rules of eslint-plugin-react
      */
      "react/jsx-filename-extension": ["warn", {
        "extensions": [".jsx", ".tsx"]
      }],
      /**
      * @description rules of eslint-plugin-prettier
      */
      "prettier/prettier": [
        "error", {
          "singleQuote": true,
          "printWidth": 80,
          "trailingComma": "all"
        }
      ],
      /**
      * @description rules of eslint-plugin-react-hooks
      */
      "react-hooks/rules-of-hooks": "error",
      /**
      * @description rules of eslint-plugin-import
      */
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
      "import/no-unresolved": ["error", {"caseSensitive": false }]
    },
    "env": {
        "browser": true,
        "jest": true
    },
    "settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
          }
        },
        "react": {
          "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
        }
    },
    "overrides": [
      {
        "files": [
          "**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[tj]s?(x)"
        ],
        "env": {
          "jest": true
        }
      },
      {
        //for vscode-eslint
        "files": ["*.js","./tools/*.[tj]s"],
        "rules": {
          "@typescript-eslint/explicit-function-return-type": "off",
          "@typescript-eslint/no-var-requires": "off"
        }
      }
    ]
}