@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-Light.eot");
  src: url("./fonts/Rubik/Rubik-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Rubik/Rubik-Light.woff2") format("woff2"),
    url("./fonts/Rubik/Rubik-Light.woff") format("woff"),
    url("./fonts/Rubik/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik/Rubik-BoldItalic.eot");
  src: url("./fonts/Rubik/Rubik-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Rubik/Rubik-BoldItalic.woff2") format("woff2"),
    url("./fonts/Rubik/Rubik-BoldItalic.woff") format("woff"),
    url("./fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
