:root {
    --white: #fff;
    --black: #000;
    --yellow1: #EFBB35;
    --yellow2: #DFA612;
    --yellow3: #FAE042;
    --green1: #008f68;
    --green2: #6DB65B;
    --green3: #4AAE9B;
    --blue1: #0072BB;
    --blue2: #1E91D6;
    --blue3: #73D2DE;
    --orange1:#FFB74D;
    --orange2:#F69D3C;
    --orange3:#F57C00;
    --red1:#D50000;
    --red2:#D32F2F;
    --red3:#E57373;
    --text-color: #F9FFEE;
    --bg1: #272529;
    --subtle-top1:#212121;
    --subtle-top2:#28313E;
}