@import "../../layout/base/settings";
@import "../../layout/base/breakpoint";

$top-bar-height: 4.75rem;
$top-bar-responsive: $breakpoint-md;
$top-bar-nav-svg-size: 40px;
$top-bar-logo-size: 60px;

@mixin logo {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 $spacing-large;
    position: relative;
    height: $top-bar-height;
    > a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .papan-logo {
      width: $top-bar-logo-size;
      height: $top-bar-logo-size;
    }
  }
}

.top-bar {
  display: flex;
  align-items: center;
  height: $top-bar-height;
  background: linear-gradient(to right, var(--subtle-top1), var(--subtle-top2));

  //left logo
  @include logo;
}
